<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.continuousloop.winnie">

    <!-- To access pictures and make API calls -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NETWORK" />

    <!-- To save downloaded pictures to disk cache -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="in.continuousloop.winnie.WinnieApplication"
        android:allowBackup="true"
        android:icon="@drawable/winnie_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Splash screen activity -->
        <activity
            android:name="in.continuousloop.winnie.SplashActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home screen activity -->
        <activity
            android:name="in.continuousloop.winnie.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- WebViewActivity to load a web page url -->
        <activity
            android:name="in.continuousloop.winnie.WebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
